<div class="account-wrapper">
    <h2 class="account-header">設定</h2>
    <div class="account-container">
        <div class="side-nav">
            <li><%= link_to "アカウント", users_account_path %></li>
            <li><%= link_to "プロフィール", profile_path(current_user.id) %></li>
        </div>

        <div class="account-contents-container">
            <div class="content-header-area">
                <h2 class="content-header">アカウント</h2>
            </div>
            <div class="account-edit-form">
                  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                    <%= render "devise/shared/error_messages", resource: resource %>

                    <div class="account-content">
                      <%= f.label :email, class:"content-label label" %>
                      <%= f.email_field :email, autocomplete: "email", class:"account-content-form form" %>
                    </div>

                    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                    <% end %>

                    <div class="account-content">
                      <p  class="content-label password-label">新しい<%= f.label :password %></p>
                      <%= f.password_field :password, autocomplete: "new-password", class:"account-content-form form" %>
                    </div>

                    <div class="account-content">
                      <p  class="content-label">新しい<%= f.label :password_confirmation %></p>
                      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"account-content-form form" %>
                    </div>

                    <div class="account-content">
                      <%= f.label :current_password, class:"content-label label" %><br />
                      <%= f.password_field :current_password, autocomplete: "current-password", class:"account-content-form form" %>
                    </div>

                    <div class="account-edit-actions actions">
                      <%= link_to "キャンセル", :back, class:"cancel-btn" %>
                      <%= f.submit "保存", class:"submit-btn btn" %>
                    </div>
                  <% end %>
            </div>     
        </div>
    </div>
</div>
