<div class="confirm-wrapper">
    <div class="confirm-container">
        <h2>再予約する</h2>
        
        <%= form_with model: @reservation do |f| %>
            <%= image_tag @reservation.room.room_image.url %>
            <div>
                <%= @reservation.room.room_name %>
                ¥<%= @reservation.room.price %>~
            </div>
            <%= @reservation.room.address %>
            <%= @reservation.room.memo %>
            <div class="room-form-content">
                <div class="reservation-form-content">
                <div class="field">
                    <%= f.label :check_in, class: "label" %><br>
                    <%= f.date_field :check_in, class: "form" %>
                </div>
                <div class="field">
                    <%= f.label :check_out, class: "label" %><br>
                    <%= f.date_field :check_out, class: "form" %>
                </div>
                <div class="field">
                    <%= f.label :people, class: "label" %><br>
                    <%= f.number_field :people, in:1..10, class: "form" %>
                </div>
                <%= f.submit "予約する",  class:"submit-btn btn" %>
                <%= link_to "戻る", :back %>
            </div>
        <% end %>
    </div>
</div>
