<div class="room-form-wrapper">
  <div class="room-form-container">
    <h2>新規登録</h2>

    <%= render "shared/error", obj: @room %>

    <%= form_with model: @room do |f| %>
      <%= f.hidden_field :user_id, value: current_user.id %>

      <div class="room-form-content">
        <div class="field">
          <%= f.label :room_name, class: "label" %><br>
          <%= f.text_field :room_name, autofocus: true, class: "form" %>
        </div>

        <div class="field">
          <%= f.label :memo, class: "label" %><br />
          <%= f.text_area :memo, class: "form" %>
        </div>

        <div class="field">
          <%= f.label :price, class: "label" %>
          <%= f.text_field :price, class: "form" %>
        </div>

        <div class="field">
          <%= f.label :address, class: "label" %><br />
          <%= f.text_field :address, class: "form" %>
        </div>

        <div class="avatar-field">
            <%= f.label :room_image %>
            <%= f.file_field :room_image %>
        </div>

        <div class="actions">
          <%= link_to "キャンセル", :back, class:"cancel-btn" %>
          <%= f.submit "保存", class: "submit-btn btn" %>
        </div>
      </div>
    <% end %>

    </div>
</div>