<div class="rooms-wrapper">
    <div class="rooms-container">
        <h2>登録済み一覧</h2>
        
        <table>
            <thead>
                <tr>
                    <th>画像</th>
                    <th>施設名</th>
                    <th>紹介</th>
                    <th>料金</th>
                    <th>作成日</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <% @rooms.each do |room| %>
                <tr>
                    <td><%= image_tag room.room_image.url, width: 80, height: 80, style: "object-fit: cover;", class:"room-image" %></td>
                    <td><%= link_to room.room_name, room_path(room.id), class:"bluelink-btn" %></td>
                    <td><%= room.memo %></td>
                    <td><p class="room-own-nowrap">¥<%= room.price %>~</p></td>
                    <td><p class="room-own-nowrap"><%= l room.created_at, format: :default %></p></td>
                    <td><%= link_to "編集", edit_room_path(room.id), class:"edit-btn" %></td>
                    <td><%= link_to "削除", room, method: :delete, data: { confirm: "本当に削除しますか？" }, class:"delete-btn" %></td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>